<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rng">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RNG">
        <activity
            android:name=".DisplayLeaderBoard"
            android:exported="true" />
        <activity
            android:name=".DisplayHealthTracker"
            android:exported="true" />
        <activity
            android:name=".pages.HomePage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.RegisterPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.ReactionGamePage"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".pages.HelpPageSelection"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true" />
        <activity
            android:name="HealthTrackerPage"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true" />
        <activity
            android:name=".pages.TMTHelpPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.MemoryHelpPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.ReactionHelpPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.LeaderboardPageSelection"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".manager.ReactionGameMgr"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".manager.TrailMakingTestMgr"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".manager.MemoryGameMgr"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.MemoryGamePage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.TrailMakingTestPage"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pages.LoginPage"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>